/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}




/* below */
body {
    background-color: #ffefe2;
    background-image: url('panelsImg/Noise.png');
    /* 背景图 */
    background-size: cover;
    /* 确保背景图铺满 */
    background-position: center;
    /* 居中显示 */
}

img {
    position: absolute;
    top: 0;
    left: 0;
    image-rendering: pixelated;
    pointer-events: none;
}

#panel1 {
    /* border: black solid 1pt; */
    position: absolute;
}

#panel2 {
    /* border: black solid 1pt; */
    position: absolute;
    /* left: 4.5em;
    top: 5.5em; */
}

#panel3 {
    /* border: black solid 1pt; */
    position: absolute;
    /* left: 18em;
    top: 2.5em; */
}

#panel4 {
    /* border: black solid 1pt; */
    position: absolute;
}

#panel5 {
    /* border: black solid 1pt; */
    position: absolute;
}

#panel6 {
    /* border: black solid 1pt; */
    position: absolute;
}

#panel7 {
    /* border: black solid 1pt; */
    position: absolute;
}

#panel8 {
    /* border: black solid 1pt; */
    position: absolute;
}


#puzzle1 {
    /* border: black solid 1pt; */
    width: 2em;
    height: 2em;
    transition: transform 1s ease-in-out;
    position: absolute;
    left: 18em;
    top: 4em;
    z-index: 10;
}

/* #container {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    position: absolute;

    left: 8.2em;
    top: 17.8em;
    transform: translate(-50%, -50%);
}
*/

#circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
}

#reflectCanvas {
    position: absolute;
    left: 0;
    top: 0;
    /* border: 3px solid black; */
    z-index: 40;
}

#mirror {
    z-index: 90;
    /* Ensure it's on top */
    position: absolute;
}

.fakeButton {
    position: absolute;
    /* border: 1px solid black; */
    width: 50px;
    height: 50px;
    z-index: 8000;
}

#triangleContainer{
    position:absolute;
    left: 176px;
    top: 76px;
    width:60px;
    height:60px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
#triangle {
    position: absolute;
    background-color: aqua;
    width: 24px;
    height: 25px;
    clip-path: polygon(70% 10%, 0% 80%, 100% 100%);
    
    
    /* 定义三角形 */

}
#deflectCanvas{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 45;
}


@media(max-width: 600px) {
    #poster {
        width: 600px;
        height: 700px;
        margin: 0 auto;
        position: relative;
    }

}

@media(min-width: 601px) {
    #poster {
        width: 600px;
        height: 700px;
        margin: 0 auto;
        position: relative;
    }
}